* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cordefundo {
    background-color: gray;
}

.nav {
    width: 30%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    float: left;
}

.navitem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
    text-decoration: none;
}

.nav2 {
    width: 70%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

#botaometamask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(118, 118, 118);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
    cursor: pointer;
}

#enviarcripto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(118, 118, 118);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
    cursor: pointer;
}

.paragrafo {
    margin: 10px 20px 20px;
    text-align: justify;
    font-family: Garamond, serif;
}

/*------------------Pop-up que aparece ao clicar em "Send me Crypto"-------------------*/

#botao-send {
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin: 20px auto;
    background: rgb(118, 118, 118);
    ;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

#value-eth {
    width: 250px;
    height: 25px;
}

.popup-fundoescuro {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 10px;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}