* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cordefundo {
    background-color: gray;
}

.nav {
    width: 50%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    float: left;
}

.navitem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
}

.nav2 {
    width: 50%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

#botaometamask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(118, 118, 118);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
}