*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cordefundo {
    background-color: gray;
}

.geral {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.nav {
    width: 50%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    float: left;
}

.navitem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
}

.nav2 {
    width: 50%;
    height: 70px;
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

#botaometamask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(118, 118, 118);
    border: 1px;
    border-radius: 5px;
    border-style: outset;
}

.coluna1 {
    background-color: rgba(240, 248, 255, 0);
    padding-right: 2%;
    float: left;
}

.perfil {
    border-radius: 10px;
}

.coluna2 {
    border-radius: 10px;
    background-color: rgb(118, 118, 118);
    float: left;
}

.nome {
    margin: 20px;
    font-size: 50px;
}

.titulo {
    margin: 0 20px;
}

.paragrafo {
    margin: 10px 20px 20px;
    text-align: justify;
    font-family: Garamond, serif;
}

.botao {
    font-size: 20px;
    margin-top: 10px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(118, 118, 118);
}